{% extends 'base.html' %}

{% block title%}Welcome to doodle{% endblock %}

{% block body %}
    <div class="wrapper indexPage">
        <div class="mainSection">
            <div class="logoContainer">
                <img src="/assets/images/logo.png" alt="logo" />
            </div>
            <div class="searchContainer">
                <form action="/home/search" method="GET">
                    <input type="text" name="term" class="searchBox" />
                    <button class="searchButton">Search</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}